#scrollTopButton {
    display: block;
    visibility: hidden;
    position: fixed;
    background: url("images/button.png");
    background-repeat: no-repeat;
    background-position: center; 
    box-shadow: 0px 0px 2px rgb(0, 0, 0);
    font-size: medium;
    text-align: center;
    width: 40px;
    height: 40px;
    bottom: 10px;
    z-index: 99999;
    border-radius: 50%;
    border: 0px;
    padding: 0px;
    overflow: hidden;
  }

/* remove dotted outline when button is clicked */
#scrollTopButton::-moz-focus-inner {
  border: 0;
}

#scrollTopButton:focus {
  outline: 0;
} 

#scrollTopButton:active {
  outline: 0;
}
