
#scrollButtonDiv {
  box-sizing: border-box;
  display: block;
  position: fixed !important;
  float: none;
  width: 100%;
  height: 0px;
  bottom: 50px;
  z-index: 99999;
  border: 0px;
  padding: 0px;
  line-height: 0px;
}

#scrollTopButton {
    display: block;
    visibility: hidden;
    position: static;
    background: url("images/button.png");
    background-repeat: no-repeat;
    background-position: center; 
    box-shadow: 0px 0px 2px rgb(0, 0, 0);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0px;
    padding: 0px;
    margin: 0 auto;
    line-height: 0px;
  }
